@-moz-document domain("recette.opendigitaleducation.com") {
	@keyframes rotate {
		0% {
			transform: rotate3d(0, 1, 0, 0deg);
		}
		100% {
			transform: rotate3d(0, 1, 0, 360deg);
		}
	}
	i.loading {
		/*content: '';
		color: rgba(0, 0, 0, 0);*/
		background-image: url("https://recette.opendigitaleducation.com/assets/themes/cg771d/img/icons/proud.png");
		background-size: auto;
	}
	body {
		font-family: Calibri, sans-serif;
	}
	h1,
	h1 a,
	nav.horizontal a,
	.navbar .welcome-message {
		font-family: KGJune, sans-serif;
	}
	nav.horizontal a {
		font-size: 14pt;
	}
	h1,
	h1 a {
		font-weight: bolder;
		font-size: 18pt;
	}
	.widgets h1 {
		font-family: "Rancho", sans-serif;
	}
	.container section.main {
		backdrop-filter: blur(30px);
		background: rgba(255, 255, 255, 0.66) !important;
		border-radius: 24px 24px 0 0 !important;
	}
	.navbar {
		backdrop-filter: blur(30px);
		background-image: linear-gradient( rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.66)) !important;
	}
	ul.icons-tabs {
		top: 30px;
	}
	div[ng-include="template.containers.main"] > input[type=search] {
		margin: auto;
		width: 90%;
		/* margin: 0 50px; */
		border: none;
		border-bottom: 1px solid darkgrey;
		background: none;
		/* padding: 0 50px; */
		float: none;
	}
	.notification {
		border-top: none !important;
		border-bottom: none !important;
		border-right: none !important;
		border-left-width: 14px !important;
		border-radius: 12px;
		background: rgba(255, 255, 255, 0.80);
	}
	.widgets .news,
	.qwant,
	.qwant-junior,
	.mood-widget,
	.dicodelazone,
	.widgets .recorder--audio,
	.birthday {
		border: none;
		border-radius: 12px;
	}
	.widgets h1 {
		border-radius: 12px 12px 0 0 !important;
		text-align: center;
	}
	.widgets .news .new {
		border-radius: 0 0 12px 12px;
	}
	div:not(.simple-notifications) > .notification i.sticker.app::before {
		text-shadow: none;
	}
	.drop-down-block {
		padding: 10px;
		border-radius: 12px;
		/*transition: background-color 500ms linear, margin 500ms linear;*/
		transition: background-color 100ms cubic-bezier(0.22, 0.61, 0.36, 1);
		margin-bottom: 30px;
	}
	.drop-down-block:hover {
		background: rgba(255, 255, 255, 0.66);
	}
	.drop-down-block.slided {
		background: rgba(255, 255, 255, 0.66);
		/*margin-bottom: 30px;*/
	}
	.drop-down-label,
	.drop-down-label:hover {
		border: none !important;
		margin-bottom: 0 !important;
	}
	.drop-down-block .drop-down-label + .drop-down-info {
		top: 0;
		padding: 1.5em;
	}
	.chip {
		transition: all 100ms cubic-bezier(0.22, 0.61, 0.36, 1);
		background: none;
		box-shadow: 0px 0px 0px 1px darkgray !important;
		text-shadow: none !important;
	}
	.chip *,
	.chip > i {
		color: gray !important;
	}
	/*.chip:hover {
		box-shadow: 0px 0px 0px 2px white !important;
	}*/
	.chip.selected,
	div:not(.simple-notifications) > .notification i.sticker.app {
		box-shadow: none !important;
	}
	.chip.selected > * {
		color: white !important;
	}
	.chip.multiselect {
		box-shadow: none !important;
	}
	.chip.multiselect * {
		color: white !important;
	}
  	nav.horizontal > a i::before,
	nav.horizontal popover > a i::before{
		color: #2a9cc8 !important;
	}
}